<h3><i class="fa fa-book"></i> News</h3>
<div class="section">
    <p class="lead">Login to admin panel</p>
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i>LOG IN WITH Google</a>
</div>